@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Red Hat Display", sans-serif;
  min-height: 900px;
  height: 100vh;
}

header {
  min-height: 900px;
  height: 100vh;
  background: rgba(0, 0, 0, 0.66) url("./assets/images/Red Highlands.jpg")
    center center/cover;
  background-blend-mode: color;
}
