@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Red Hat Display", sans-serif;
  min-height: 900px;
  height: 100vh;
}

header {
  min-height: 900px;
  height: 100vh;
  background: rgba(0, 0, 0, 0.66) url("./assets/images/Red Highlands.jpg")
    center center/cover;
  background-blend-mode: color;
}

@layer components {
  .player-icon-container {
    @apply player-icon relative right-20 rounded-full border-2 border-light-main p-4;
  }

  .player-icon {
    @apply flex-shrink-0 transition-opacity ease-in;
  }
}
